


flat-button {
    @include button;
    margin    : 0;
    background-color: rgba(0, 0, 0, 0.4);
@include box-shadow2 (2);
border-radius:50%!important;
height:5em;
width:5em;
    &:hover {
@include box-shadow2 (3);
    }

    &.read-more {
        color: white;
    }

    &.share {
        color: $scg-orange;
    }
}

button-view-more {
    margin-top: 30px !important;
    @include button;
    @include box-shadow2(1);

    &:hover {
        @include box-shadow2(5);
        -webkit-transform: translateY(-5px);
        -moz-transform   : translateY(-5px);
        transform        : translateY(-5px);
        transform        : scale(1.05);
    }
}
/////
// material animation
///
.btn-green {
background:#2F6653!important;
&:hover {
background:#0A4D3C!important;
}
}
