$base: 20em;
$base_minus_one: $base - 1;

// * {
//   box-sizing: border-box;
// }


.capabilities-container {

margin: 0 auto;
width: 100%;

}


.spinner {
  width: $base;
  height: $base;
  margin: .5em;
  cursor: pointer;
  position: relative;
  float: left;

  h5 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
    color: #222;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: all 1s;
    margin-top: -0.75rem;
    color:white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }
  p.black {
    position: absolute;
    color:black;
    top: 75%;
    width: 100%;
    text-align: center;
    font-size: 1rem!important;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 1s;
    margin-top: -0.55rem;
    padding-left:1.5rem;
    padding-right:2rem;
    line-height: 175%;
  }
  p.white {
    position: absolute;
    color:white;
    top: 75%;
    width: 100%;
    text-align: center;
    font-size: 1rem!important;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 1s;
    margin-top: -0.55rem;
    padding-left:1.5rem;
    padding-right:2rem;
    line-height: 175%;
  }
img {
  width: $base_minus_one;
  height: $base_minus_one;
  border-radius: $base_minus_one;
  opacity: 1;
  -webkit-transition: all 1s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
}

.inner-spin {
  width: $base;
  height: $base;
  -webkit-transform: rotate(20deg);
  -webkit-transition: all 1s;

  /* Hardware acceleration FTW! */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);

  &:before, &:after {
    display: block;
    margin: 0 auto;
    position: absolute;
  }

  &:before, &:after {
    content: "";
    height: $base / 2;
    width: $base;
    z-index: 1;
  }

  &:before {
   border-radius: $base $base 0 0;
   background: #4c4c4c;
     opacity:.1;
  }

  &:after {
    top: $base / 2;
    border-radius: 0 0 $base_minus_one $base_minus_one;
   background: #4c4c4c;
    opacity:.2;

  }
}

.spinner-content {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: $base - 1;
  height: $base - 1;
  background: white;
  border-radius: $base - 1;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -(($base - 1) / 2);
  margin-left: -(($base - 1) / 2);
}

.spinner:hover {
  opacity: 0.95;

  .inner-spin {
    -webkit-transform: rotate(180deg);
  }

  img {
    opacity: 0.5;
  }

  h5 {
    top: 20%;
    -webkit-transition: all 1s;
    margin-top: -0.75rem;

  }
  p.black {
    top: 30%;
    color: #333333;
    opacity: 1;
    -webkit-transition: all 1s;
  }
  p.white {
    top: 30%;
    color: white;
    opacity: 1;
    -webkit-transition: all 1s;
  }
  img {
  width: $base_minus_one;
  height: $base_minus_one;
  border-radius: $base_minus_one;
  opacity: 1;
  -webkit-transition: all 1s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
}
