.footer {
	width: 100%;
	padding: 45px;
	background: $scg-gray;
	color: $white;
	p a {
		font-size: 28px;
		color:$white;
	}
	.logo {
		width: 100px;
		margin-top: 30px;
	}
}
.employee-reveal {
      @include breakpoint(small) {
      	width:80%!important;
      }
      @include breakpoint(small) {
      width:100%!important;
      }
}


@mixin circle-color ($color)
{

  position: relative;
  display: block;
  margin: 1em 0;
  @include breakpoint(small only) {
    margin: 2em;
  }

  @include breakpoint(medium only) {
    margin: 1em;
  }

  @include breakpoint(large up) {
    margin: 1em;
  }

  background-color: transparent;
  color: #222;
  text-align: center;

&:after  {
 display: block;
 padding-bottom: 100%;
 width: 100%;
 height: 0;
 border-radius: 50%;
 background-color: #ddd;
 content: "";
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
 background-size:cover;

@if $color == "citrus"  {
  background: url("../images/banner-background-citrus.svg") repeat scroll 0 0 / cover ;
}
@elseif $color == "orange"  {
  background: url("../images/banner-background-orange.svg") repeat scroll 0 0 / cover ;
}
@elseif $color == "green"  {
  background: url("../images/banner-background-green.svg") repeat scroll 0 0 / cover ;
}
@elseif $color == "purple"  {
  background: url("../images/banner-background-purple.svg") repeat scroll 0 0 / cover ;
}
@elseif $color == "gray"  {
  background: url("../images/banner-background-gray.svg") repeat scroll 0 0 / cover ;
    }
@elseif $color == "blue"  {
  background: url("../images/banner-background-lavender.svg") repeat scroll 0 0 / cover ;
    }
@elseif $color == "lavender"  {
  background: url("../images/banner-background-blue.svg") repeat scroll 0 0 / cover ;
    }
  }
}

.circle-orange {@include circle-color("orange");}
.circle-purple{@include circle-color("purple");}
.circle-green{@include circle-color("green");}
.circle-gray{@include circle-color("gray");}
.circle-citrus{@include circle-color("citrus");}
.circle-blue{@include circle-color("blue");}
.circle-lavender{@include circle-color("lavender");}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}


.circle__content {
  display: table-cell;
  padding: .5em;
  vertical-align: middle;
}

  .circle__content {

h3 {

  font-weight:600;


		@include breakpoint(small only) {
					font-size:3vw!important;
          line-height:4.0vw !important;

		}
      @media screen and (min-width: 375px) and (max-width:667px) {
					font-size:4vw!important;
          line-height:4.5vw !important;

 				// 	font-size:3vw!important;
          //       line-height:4.5vw;
      }
		@include breakpoint(medium only) {
					font-size:2.5vw!important;
					line-height:3vw!important;
		}
		@include breakpoint(large up) {
					font-size:2vw!important;
          line-height:3.0vw !important;
		}
    color:white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

}
#__bs_notify__ {
  top: 95% !important;
  right: 10px !important;
  border-radius: 15px !important;
  height: 50px !important;
  opacity: 0.25;
}


.owl-carousel .owl-item img {
    height:auto!important;
    width:100%!important;
    display: block!important;
}

.owl-carousel .item {
    margin:0px!important;
}

.animated {
    -webkit-animation-duration: .4s!important;
    animation-duration: .4s!important;
}
/* Foundation overrides */
/* controls blog text here */

p {
  font-size: 22px!important;
  line-height: 1.5em!important;
}
ol li {
  font-size: 18px!important;
  line-height: 1.5em!important;
  margin-left: 1em;
  margin-bottom: 1em;
}

// sup {
//   top: -.85em !important;
//   font-size: 50% !important;
// }

.admin-bar .sticky-header {
  top: 32px;
}

////display ajax load more content properly
.alm-reveal {
  display: flex;
  flex-flow: row wrap;
}

.section {
  padding: 60px 0;
  // adjusts space between sections
	@include breakpoint(small only) {
		padding: 5px 0!important;
}

.model-text {
margin-bottom: 4em;
}

h2 {
  margin-bottom: 30px;
  color: $scg-gray;
  @include breakpoint(small only) {
			margin-bottom: 30px;
}
	}

.dotted {
  border-style: dashed;
  border-bottom: 1px dotted $scg-green;
  width: 100%;
}
}

.section-page-header {
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: visible;


  .page-header-billboard {
		height: 200px;
  position: relative;
  @include breakpoint(small only) {
			height: 15em;
      margin-top:4em;

}


.inner {
  padding: 0 45px;
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  h1 {
				font-size: 55px !important;
  text-shadow: 3px 3px 7px rgba($black, 0.62);
  margin-top: 60px;
  color: $white;
  @include breakpoint(small only) {
					margin-top: 0;
}
			}

h2 {
  text-shadow: 3px 3px 7px rgba($black, 0.62);
  margin-top: 60px;
  color: $white;
  @include breakpoint(small only) {
					margin-top: 0;
}
			}

h3 {
  font-size: 15px;
}

p {
  font-size: 25px;
}
		}

.overlay {
  background: rgba($scg-purple, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: 0.5s all;
}

.overlay-black {
  // background: rgba($scg-purple, .5);
  // background: url(../images/Artboard1.png) no-repeat center center fixed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: 0.5s all;
}
	}

.integrated-marketing {
  .overlay {
			background: rgba($scg-purple, 1);
}
	}
}
/*  chart data */

.blog-text {
  img {
		margin-left: auto !important;
  margin-right: auto !important;
}
}
