.title-bar-fix {
    height: 41px;
}

.title-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    // display: none!important;

    &.show {
        display: inherit!important;
    }
}

.title-bar-other {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    // box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
    background-color: rgba($scg-purple, 0)!important;
}

.menu-icon::after {
    background: #fff !important;
    box-shadow: 0 7px 0 #fff, 0 14px 0 #fff !important;
}

.menu-icon {
    .hide {
        display: none!important;
    }
}

.title-bar .menu-icon {}

.menu-icon::after {
    background: $scg-purple!important;
    box-shadow: 0 7px 0 $scg-purple, 0 14px 0 $scg-purple!important;
}

.menu-icon-other {
    @extend .menu-icon;
}

.menu-icon-other::after {
    background: $white!important;
    box-shadow: 0 7px 0 $white, 0 14px 0 $white!important;
}

.off-canvas {
    height: 100%;

    ul {
        margin: 0;
        list-style: none;
    }

    li {
        border-bottom: 1px solid $white;
    }

    a {
        display: block;
        padding: 15px;
        color: $white;
    }
}

.header-fix {
    // height: 103px;
    transition: 0.4s all;

    &.active {
        height: 78px;
        transition: none;

    }
}

.current_page_item {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    // background-color: $light-gray;
    border-bottom: 4px solid $scg-citrus;
}

@include breakpoint(small only) {

.current_page_item { background: #2c1d49;}


}

.header {


    @include breakpoint(medium up) {
        transition: 0.3s all;
        width: 100%;
        height: 103px;

        ul li a {
            font-size: 100%;
        }
    }
    width: 100%;
    padding: 17px 0;
    background: $white;
    position: fixed;
    top: 0;
    z-index: 999;

    &.box-shadow {
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 2px;
    }

    &.active {
        height:70px;
        transition: 0.3s ease-in-out;

        background-color: rgba(255, 255, 255, 0.93);

        #logo-scg {
            margin-top: 5px;
        }

        .row {
            max-width: rem-calc(850);
        }

        nav {
            a {
                padding: 8px;
                font-size: 14px;
            }
        }
    }

    .row {
        max-width: rem-calc(1200);
        transition: 0.3s all;
    }

    nav {
        margin-top: 6px;

        ul {
            margin: 0;
        }

        li {
            display: inline-block;
        }

        &.casestudy {
            a {
                color: $light-gray;
            }
        }

        @include breakpoint(medium only) {
            margin-top: 4px;
            a {
                padding: 10px 5px !important;
            }

}

        a {
            display: block;
            padding: 10px 15px;
            font-size: 1.3vh;
            color: $scg-font;
            transition: 0.3s all;

            &:hover {
                background: $light-gray;
                border-radius: 4px 4px 4px 4px;
                -moz-border-radius: 4px 4px 4px 4px;
                -webkit-border-radius: 4px 4px 4px 4px;
                // border: 1px solid #e8e8e8;
                transition: 0.2s all !important;
            }
        }
    }
}

a.menu-icon span {
    -webkit-box-shadow: 0 10px 0 1px $scg-green, 0 16px 0 1px $scg-green, 0 22px 0 1px $scg-green!important;
    box-shadow: 0 10px 0 1px $scg-green, 0 16px 0 1px $scg-green, 0 22px 0 1px $scg-green!important;
}




.header--fixed {
    position: fixed !important;
    z-index: 10 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}


//
//
// @include breakpoint(small only) {
//   .title-bar {
//     height: 15% !important;
//     background-color:rgba(255, 255, 255, 0.5) !important;
//   }
// }
// @include breakpoint(medium only) {
//   .title-bar {
//     height: 8% !important;
//     background-color:rgba(255, 255, 255, 0.5) !important;
//
//   }
// }
// @include breakpoint(large only) {
//   .title-bar {
//     height: 5% !important;
//     background-color:rgba(255, 255, 255, 0.5) !important;
//   }
// }
// @include breakpoint(xlarge only) {
//   .title-bar {
//     height: 10% !important;
//     background-color:rgba(255, 255, 255, 0.5) !important;
//   }
// }
// @include breakpoint(xxlarge up) {
//   .title-bar {
//     height: 8% !important;
//     background-color:rgba(255, 255, 255, 0.5) !important;
//   }
// }
//
//
// .menu-icon::after {
//   content: '';
//   position: absolute;
//   display: block;
//   width: 100%;
//   height: 2px;
//   background: $scg-purple !important;
//   top: 0;
//   left: 0;
//   box-shadow: 0 7px 0 $scg-purple, 0 14px 0 $scg-purple !important;
// }
//
//

//
// .title-bar {
//   width: 100%;
//   position: fixed;
//   display:flex;
//   top: 0;
//   z-index: 100;
//   align-items: stretch!important;
//   background-color:white!important;
// }
//
// .off-canvas {
//   height: 100%;
//   ul {
// 		margin: 0;
//   list-style: none;
// }
//
// li {
//   border-bottom: 1px solid $white;
// }
//
// a {
//   display: block;
//   padding: 15px;
//   color: $white;
// }
// }
//
// .button {
//   border-radius: 15px 0px 15px 0px;
// }
//
// .header-fix {
//   height: 95px;
//   transition: .4s all;
//   &.active {
// 		height: 78px;
//   transition: none;
// }
// }
//
// .header {
//   transition: top 0.3s ease-in-out !important;
//   width: 100%;
//   padding: 15px 0;
//   background: $white;
//   position: fixed;
//   top: 0;
//   box-shadow: rgba(0, 0, 0, 0.239216) 0px 1px 2px;
//   z-index: 999;
//   &.active {
// 		.row {
// 			max-width: rem-calc(850);
// }
//
// nav {
//   a {
//   	padding: 8px;
//     font-size: 14px;
// }
// 		}
// 	}
//
// .row {
//   max-width: rem-calc(1200);
//   transition: .3s all;
// }
//
// nav {
//   margin-top: 6px;
//   ul {
// 			margin: 0;
// }
//
// li {
//   display: inline-block;
// }
//
// a {
//   display: block;
//   padding: 10px 15px;
//   font-size: 25px;
//   color: $dark-gray!important;
//   transition: .3s all;
// }
// 	}
// }
//
//
//
// .push {
//     margin: .5em;
// }
//
// .push--left {
//     margin-left: .5em!important;
// }
//
// .push--right {
//     margin-right: .5em!important;
// }
//
// .push--top {
//     margin-top: .5em!important;
// }
//
// .push--bottom {
//     margin-bottom: .5em!important;
// }
//
// .flush--left {
//     margin-left: 0!important;
// }
//
// .flush--right {
//     margin-right: 0!important;
// }
//
// .flush--top {
//     margin-top: 0!important;
// }
//
// .flush--bottom {
//     margin-bottom: 0!important;
// }
//
//
// .slide {
//     -webkit-transition: all .25s ease-in-out;
//     -moz-transition: all .25s ease-in-out;
//     -o-transition: all .25s ease-in-out;
//     transition: all .25s ease-in-out;
// }
//
// .slide--reset {
//     -webkit-transform: translateY(0);
//     -ms-transform: translateY(0);
//     transform: translateY(0);
// }
//
// .slide--up {
//     -webkit-transform: translateY(-100%);
//     -ms-transform: translateY(-100%);
//     transform: translateY(-100%);
// }
//
//
// .animated {
//     -webkit-animation-duration: .5s;
//     -moz-animation-duration: .5s;
//     -o-animation-duration: .5s;
//     animation-duration: .5s;
//     -webkit-animation-fill-mode: both;
//     -moz-animation-fill-mode: both;
//     -o-animation-fill-mode: both;
//     animation-fill-mode: both;
// }
//
// @-webkit-keyframes slideDown {
//     0% {
//         -webkit-transform: translateY(-100%);
//     }
//
//     100% {
//         -webkit-transform: translateY(0);
//     }
// }
//
// @-moz-keyframes slideDown {
//     0% {
//         -moz-transform: translateY(-100%);
//     }
//
//     100% {
//         -moz-transform: translateY(0);
//     }
// }
//
// @-o-keyframes slideDown {
//     0% {
//         -o-transform: translateY(-100%);
//     }
//
//     100% {
//         -o-transform: translateY(0);
//     }
// }
//
// @keyframes slideDown {
//     0% {
//         transform: translateY(-100%);
//     }
//
//     100% {
//         transform: translateY(0);
//     }
// }
//
// .animated.slideDown {
//     -webkit-animation-name: slideDown;
//     -moz-animation-name: slideDown;
//     -o-animation-name: slideDown;
//     animation-name: slideDown;
// }
//
// @-webkit-keyframes slideUp {
//     0% {
//         -webkit-transform: translateY(0);
//     }
//
//     100% {
//         -webkit-transform: translateY(-100%);
//     }
// }
//
// @-moz-keyframes slideUp {
//     0% {
//         -moz-transform: translateY(0);
//     }
//
//     100% {
//         -moz-transform: translateY(-100%);
//     }
// }
//
// @-o-keyframes slideUp {
//     0% {
//         -o-transform: translateY(0);
//     }
//
//     100% {
//         -o-transform: translateY(-100%);
//     }
// }
//
// @keyframes slideUp {
//     0% {
//         transform: translateY(0);
//     }
//
//     100% {
//         transform: translateY(-100%);
//     }
// }
//
// .animated.slideUp {
//     -webkit-animation-name: slideUp;
//     -moz-animation-name: slideUp;
//     -o-animation-name: slideUp;
//     animation-name: slideUp;
// }
//
// @-webkit-keyframes swingInX {
//     0% {
//         -webkit-transform: perspective(400px) rotateX(-90deg);
//     }
//
//     100% {
//         -webkit-transform: perspective(400px) rotateX(0deg);
//     }
// }
//
// @-moz-keyframes swingInX {
//     0% {
//         -moz-transform: perspective(400px) rotateX(-90deg);
//     }
//
//     100% {
//         -moz-transform: perspective(400px) rotateX(0deg);
//     }
// }
//
// @-o-keyframes swingInX {
//     0% {
//         -o-transform: perspective(400px) rotateX(-90deg);
//     }
//
//     100% {
//         -o-transform: perspective(400px) rotateX(0deg);
//     }
// }
//
// @keyframes swingInX {
//     0% {
//         transform: perspective(400px) rotateX(-90deg);
//     }
//
//     100% {
//         transform: perspective(400px) rotateX(0deg);
//     }
// }
//
// .animated.swingInX {
//     -webkit-transform-origin: top;
//     -moz-transform-origin: top;
//     -ie-transform-origin: top;
//     -o-transform-origin: top;
//     transform-origin: top;
//     -webkit-backface-visibility: visible!important;
//     -webkit-animation-name: swingInX;
//     -moz-backface-visibility: visible!important;
//     -moz-animation-name: swingInX;
//     -o-backface-visibility: visible!important;
//     -o-animation-name: swingInX;
//     backface-visibility: visible!important;
//     animation-name: swingInX;
// }
//
// @-webkit-keyframes swingOutX {
//     0% {
//         -webkit-transform: perspective(400px) rotateX(0deg);
//     }
//
//     100% {
//         -webkit-transform: perspective(400px) rotateX(-90deg);
//     }
// }
//
// @-moz-keyframes swingOutX {
//     0% {
//         -moz-transform: perspective(400px) rotateX(0deg);
//     }
//
//     100% {
//         -moz-transform: perspective(400px) rotateX(-90deg);
//     }
// }
//
// @-o-keyframes swingOutX {
//     0% {
//         -o-transform: perspective(400px) rotateX(0deg);
//     }
//
//     100% {
//         -o-transform: perspective(400px) rotateX(-90deg);
//     }
// }
//
// @keyframes swingOutX {
//     0% {
//         transform: perspective(400px) rotateX(0deg);
//     }
//
//     100% {
//         transform: perspective(400px) rotateX(-90deg);
//     }
// }
//
// .animated.swingOutX {
//     -webkit-transform-origin: top;
//     -webkit-animation-name: swingOutX;
//     -webkit-backface-visibility: visible!important;
//     -moz-animation-name: swingOutX;
//     -moz-backface-visibility: visible!important;
//     -o-animation-name: swingOutX;
//     -o-backface-visibility: visible!important;
//     animation-name: swingOutX;
//     backface-visibility: visible!important;
// }
//
// @-webkit-keyframes flipInX {
//     0% {
//         -webkit-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
//
//     100% {
//         -webkit-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
// }
//
// @-moz-keyframes flipInX {
//     0% {
//         -moz-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
//
//     100% {
//         -moz-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
// }
//
// @-o-keyframes flipInX {
//     0% {
//         -o-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
//
//     100% {
//         -o-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
// }
//
// @keyframes flipInX {
//     0% {
//         transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
//
//     100% {
//         transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
// }
//
// .animated.flipInX {
//     -webkit-backface-visibility: visible!important;
//     -webkit-animation-name: flipInX;
//     -moz-backface-visibility: visible!important;
//     -moz-animation-name: flipInX;
//     -o-backface-visibility: visible!important;
//     -o-animation-name: flipInX;
//     backface-visibility: visible!important;
//     animation-name: flipInX;
// }
//
// @-webkit-keyframes flipOutX {
//     0% {
//         -webkit-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
//
//     100% {
//         -webkit-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
// }
//
// @-moz-keyframes flipOutX {
//     0% {
//         -moz-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
//
//     100% {
//         -moz-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
// }
//
// @-o-keyframes flipOutX {
//     0% {
//         -o-transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
//
//     100% {
//         -o-transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
// }
//
// @keyframes flipOutX {
//     0% {
//         transform: perspective(400px) rotateX(0deg);
//         opacity: 1;
//     }
//
//     100% {
//         transform: perspective(400px) rotateX(90deg);
//         opacity: 0;
//     }
// }
//
// .animated.flipOutX {
//     -webkit-animation-name: flipOutX;
//     -webkit-backface-visibility: visible!important;
//     -moz-animation-name: flipOutX;
//     -moz-backface-visibility: visible!important;
//     -o-animation-name: flipOutX;
//     -o-backface-visibility: visible!important;
//     animation-name: flipOutX;
//     backface-visibility: visible!important;
// }
//
// @-webkit-keyframes bounceInDown {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(-200px);
//     }
//
//     60% {
//         opacity: 1;
//         -webkit-transform: translateY(30px);
//     }
//
//     80% {
//         -webkit-transform: translateY(-10px);
//     }
//
//     100% {
//         -webkit-transform: translateY(0);
//     }
// }
//
// @-moz-keyframes bounceInDown {
//     0% {
//         opacity: 0;
//         -moz-transform: translateY(-200px);
//     }
//
//     60% {
//         opacity: 1;
//         -moz-transform: translateY(30px);
//     }
//
//     80% {
//         -moz-transform: translateY(-10px);
//     }
//
//     100% {
//         -moz-transform: translateY(0);
//     }
// }
//
// @-o-keyframes bounceInDown {
//     0% {
//         opacity: 0;
//         -o-transform: translateY(-200px);
//     }
//
//     60% {
//         opacity: 1;
//         -o-transform: translateY(30px);
//     }
//
//     80% {
//         -o-transform: translateY(-10px);
//     }
//
//     100% {
//         -o-transform: translateY(0);
//     }
// }
//
// @keyframes bounceInDown {
//     0% {
//         opacity: 0;
//         transform: translateY(-200px);
//     }
//
//     60% {
//         opacity: 1;
//         transform: translateY(30px);
//     }
//
//     80% {
//         transform: translateY(-10px);
//     }
//
//     100% {
//         transform: translateY(0);
//     }
// }
//
// .animated.bounceInDown {
//     -webkit-animation-name: bounceInDown;
//     -moz-animation-name: bounceInDown;
//     -o-animation-name: bounceInDown;
//     animation-name: bounceInDown;
// }
//
// @-webkit-keyframes bounceOutUp {
//     0% {
//         -webkit-transform: translateY(0);
//     }
//
//     30% {
//         opacity: 1;
//         -webkit-transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 0;
//         -webkit-transform: translateY(-200px);
//     }
// }
//
// @-moz-keyframes bounceOutUp {
//     0% {
//         -moz-transform: translateY(0);
//     }
//
//     30% {
//         opacity: 1;
//         -moz-transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 0;
//         -moz-transform: translateY(-200px);
//     }
// }
//
// @-o-keyframes bounceOutUp {
//     0% {
//         -o-transform: translateY(0);
//     }
//
//     30% {
//         opacity: 1;
//         -o-transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 0;
//         -o-transform: translateY(-200px);
//     }
// }
//
// @keyframes bounceOutUp {
//     0% {
//         transform: translateY(0);
//     }
//
//     30% {
//         opacity: 1;
//         transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 0;
//         transform: translateY(-200px);
//     }
// }
//
// .animated.bounceOutUp {
//     -webkit-animation-name: bounceOutUp;
//     -moz-animation-name: bounceOutUp;
//     -o-animation-name: bounceOutUp;
//     animation-name: bounceOutUp;
// }
