
.material-card-container {
    // GENERAL SETTINGS
    display: flex;
    // MOBILE SETTINGS BELOW
    // nice margin for mobile (mobile config 1)
    // margin-left:10%!important;
    // margin-right:10%!important;
    // stacks them nicely for mobile (mobile config 1)
    @include breakpoint(small only) {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 10%;
    }
    // DESKTOP SETTINGS BELOW
    // this style will stack the cards vertically (desktop config 1)
    @include breakpoint(medium) {
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.material-card {
    // GENERAL SETTINGS
    display: flex;
    position: relative;
    @include breakpoint(small only) {
        margin: 10% 10% 2.5%;
    }
    @include breakpoint(medium) {
        margin: 2%; // desktop
    }
    // blog
    //MATERIAL CARD STYLING
    border-radius: 0.25rem;
    background-color: #FFF;
    @include box-shadow();
    transition: 0.3s all;
    /// MOBILE SETTINGS
    ////   stacks them nicely for mobile (mobile config 1)
    @include breakpoint(small only) {
        flex: 1 1 auto;
        flex-direction: column;
    }
    //// DESKTOP SETTINGS
    @include breakpoint(medium) {
        // flex-direction:row;
        // flex-wrap:nowrap;
        // flex: 1 1 15%;
        //// BLOG SETTINGS only
        flex-direction: column;
        flex: 1 1 25%;
    }
    // hiding the animation for all small mobile devices
    @include breakpoint(medium large only) {
        &:hover {
            transform: scale(1.02);
            @include box-shadow-hover();
            overflow: hidden!important;
            .material-card-image {
                background-size: 140%;
                transition: all 0.4s ease-in-out;
            }
            .material-card-image {
                width: 100%;
                &::before {
                    opacity: 1;
                }
            }
            .material-card-hide {
                opacity: 1;
                visibility: visible;
                color: white;
                // z-index: 999;
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}
.material-card-hide {
    /// creating and positioning the LEARN MORE text that flies from behind the cards
    opacity: 0;
    display: flex;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}
.material-card-image {
    background-position: center center;
    width: 100%;
    height: auto;
    flex: 0 1 auto;
    background-repeat: no-repeat;
    background-size: 110%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden!important;
    position: relative;
    backface-visibility: hidden;
    // transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
    &::before {
        content: "";
        display: block;
        padding-top: 66.6%; // this gives size to the image of the card
        opacity: 0;
        background-color: rgba(75, 50, 124, 0.8);
        transition: all 0.4s ease-in-out;
    }
}
.material-card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 5%; //mobile & desktop
    text-align: center;
    margin-top: auto; // desktop
    text-align: center;
    color: #6C6F70;
    font-size: 1.25rem; // looks good with mobile
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.material-faster-card-container {
    // GENERAL SETTINGS
    display: flex;
    // MOBILE SETTINGS BELOW
    // nice margin for mobile (mobile config 1)
    // margin-left:10%!important;
    // margin-right:10%!important;
    // stacks them nicely for mobile (mobile config 1)
    @include breakpoint(small only) {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 10%;
    }
    // DESKTOP SETTINGS BELOW
    // this style will stack the cards vertically (desktop config 1)
    @include breakpoint(medium) {
        flex-wrap: wrap;
        flex-direction: row;
    }
}
.material-faster-card {
    @include breakpoint(small only) {
        margin: 10% 10% 2.5%;
        flex: 1 1 auto;
        flex-direction: column;
    }
    @include breakpoint(medium) {
        margin: 2%; // desktop
        flex-direction: column;
        flex: 1 1 25%;
    }
    display: flex;
    position: relative;
    margin: 3%; // desktop
    border-radius: 0.25rem;
    background-color: #FFF;
    @include box-shadow();
    flex-direction:column;
    transition: all 0.4s ease-in-out;
    flex: 1 1 25%;
    .material-faster-card-image {
        transition: all 0.4s ease-in-out;
    }
    .material-faster-card-image {
        transition: all 0.4s ease-in-out;
    }
    .material-faster-card-hide {
        transition: all 0.4s ease-in-out;
    }
}
.material-faster-card::after {
    transition: all 0.4s ease-in-out;
    transform: scale(1.02);
    @include box-shadow-hover();
    opacity: 0;
    overflow: hidden!important;
    .material-faster-card-image {
        background-size: 140%;
        transition: all 0.4s ease-in-out;
    }
    .material-faster-card-image {
        transition: all 0.4s ease-in-out;
        width: 100%;
        &::before {
            opacity: 1;
            transition: all 0.4s ease-in-out;
        }
    }
    .material-faster-card-hide {
        opacity: 1;
        visibility: visible;
        color: white;
        // z-index: 999;
        display: block;
        width: 100%;
        height: auto;
    }
}
.material-faster-card:hover {
    transform: scale(1.02);
    transition: 0.3s all;
    @include box-shadow-hover();
    .material-faster-card-image {
        background-size: 140%;
        transition: all 0.4s ease-in-out;
    }
    .material-faster-card-image {
        width: 100%;
        &::before {
            opacity: 1;
        }
    }
    .material-faster-card-hide {
        opacity: 1;
        visibility: visible;
        color: white;
        // z-index: 999;
        display: block;
        width: 100%;
        height: auto;
    }
}
.material-faster-card:hover::after {
    opacity: 1;
}
.material-faster-card-hide {
    opacity: 0;
    display: flex;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}
.material-faster-card-image {
    background-position: center center;
    width: 100%;
    height: auto;
    flex: 0 1 auto;
    background-repeat: no-repeat;
    background-size: 110%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden!important;
    position: relative;
    backface-visibility: hidden;
    &::before {
        content: "";
        display: block;
        padding-top: 66.6%; // this gives size to the image of the card
        opacity: 0;
        background-color: rgba(75, 50, 124, 0.8);
        transition: all 0.4s ease-in-out;
    }
}
.material-faster-card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 5%; //mobile & desktop
    text-align: center;
    margin-top: auto; // desktop
    text-align: center;
    color: #6C6F70;
    font-size: 1.25rem; // looks good with mobile
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    position: relative;
}
