/* Mixins */

@mixin blur ($radius) {
	-webkit-filter: blur($radius+px); /* Chrome, Safari */
	-ms-filter: blur($radius+px); /* IE12? */
	filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
	filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}


@mixin arrow ($direction: "down", $color: #000, $width: 20px, $height: $width ) {
  	width: 0;
	height: 0;
	content: "";
	@if $direction == "right" {
		border-top: $height solid transparent;
		border-bottom: $height solid transparent;
		border-left: $width solid $color;

	}@elseif $direction == "left" {
		border-top: $height solid transparent;
		border-bottom: $height solid transparent;
		border-right: $width solid $color;

	}@elseif $direction == "top" {
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-bottom: $height solid $color;

	}@elseif $direction == "bottom" {
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-top: $height solid $color;

	}@elseif $direction == "topRight" {
		border-right: $width solid $color;
		border-bottom: $height solid transparent;

	}@elseif $direction == "topLeft" {
		border-right: $width solid transparent;
		border-top: $height solid $color;

	}@elseif $direction == "bottomRight" {
		border-bottom: $height solid $color;
		border-left: $width solid transparent;

	}@elseif $direction == "bottomLeft" {
		border-top: $height solid transparent;
		border-left: $width solid $color;
	}
}

@mixin box-shadow() {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
@mixin box-shadow-white() {
-webkit-box-shadow: 0 2px 5px 0rgba(255,255,255,.8);
-moz-box-shadow: 0 2px 5px 0 rgba(255,255,255,.8);
box-shadow: 0 2px 5px 0 rgba(255,255,255,.8);
}
@mixin box-shadow-subtle() {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@mixin box-shadow-hover() {
	box-shadow: 0 3px 14px 0 rgba(0,0,0,0.3);
}
@mixin box-shadow-hover-white() {
	box-shadow: 0 3px 14px 0 rgba(255,255,255,0.8);
}
@mixin material-button() {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@mixin material-button-hover() {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@mixin box-shadow2 ($level) {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	@if $level == 1 {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	@else if $level == 2 {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	@else if $level == 3 {
		// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	@else if $level == 3b {
		box-shadow: 0 -14px -28px rgba(0,0,0,0.25), 0 -10px -10px rgba(0,0,0,0.22);
}
	@else if $level == 4 {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	@else if $level == 5 {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
}
@mixin box-shadow-video {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
@mixin box-shadow-video-hover() {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
@mixin last-child() {
	&:last-of-type {
		@content
	}
}
@mixin responsive-font-size($min-font-size, $max-font-size, $min-screen-width, $max-screen-width, $font-size-step: 0.1em) {

    font-size: $max-font-size;
    @media all and (max-width: $min-screen-width) {
        font-size: $min-font-size;
    }

    @if $font-size-step <= 0 {
        @warn "parameter to responsive-font-size: font-size-step must be greater than 0";
    }
    @else {
        $min-scale-factor: $min-font-size / $min-screen-width / 1em * 1px;
        $max-scale-factor: $max-font-size / $max-screen-width / 1em * 1px;

        $screen-width: round($max-screen-width);
        $font-size: $max-font-size;

        @while $screen-width >= $min-screen-width {

            $progress: ($screen-width - $min-screen-width) / ($max-screen-width - $min-screen-width);
            $scale-factor: $min-scale-factor + $progress * ($max-scale-factor - $min-scale-factor);

            $font-size: $screen-width * $scale-factor / 1px * 1em;

            @media all and (max-width: $screen-width) {
                font-size: $font-size;
            }

            $screen-width-step: $font-size-step / $scale-factor / 1em * 1px;
            @if $screen-width-step < 1px {
                $screen-width-step: 1px;
            }

            $screen-width: round($screen-width - $screen-width-step);
        }
    }
}


.container {
	// display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
	width:100%;
  // padding-top:10%;


}
.container:after {
	display: block;
  content: '';
  // padding-top:100%;

@include breakpoint(small only) {
  padding-top:0!important;
}

}

.container>div:first-child{
    // white-space:nowrap;
    white-space:normal!important;

   -webkit-order:1;
   -webkit-flex: 0 1 auto; /*important*/
    text-overflow: ellipsis;
    // overflow:hidden;
    min-width:0; /* new algorithm overrides the width calculation */
}

.container > div:last-child {
    -webkit-flex: 1;
    -webkit-order:2;
    -webkit-flex:0 1 auto; /*important*/
		text-overflow: ellipsis;
		// overflow:hidden;



}


.circle {
    // border: 5px solid #ff0000;
    // background-color: #00ff00;
    // width: 200px;
		width:100%;
    // overflow:hidden!important;



    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;


		@include breakpoint(small){
			height: 15em;
      width: 15em;
			max-width:20em;
			h2{
				font-size:3em;
			}
			h5 {
				// font-size:2em;
				// line-height:1em;
				// @include responsive-font-size(1em, 2em, 400px, 1200px, 0.1em);
        font-size:1.2em;

			}

	  }
		@include breakpoint(medium){
			height: 10em;
      width: 10em;

			h2{
				font-size:2.0em;
			}
			h5 {
        // @include responsive-font-size(.5em, 1.5em, 400px, 1800px, 0.1em);
				line-height:.9em;
        font-size:.9em;

			}
		}
		@include breakpoint(large){
			// height: 15em;
      // width: 15em;

      height: 12em;
      width: 12em;
      max-width:20em;

			h2{
				// font-size:4.0em;
				line-height:2em;
			}
      h5 {
        // @include responsive-font-size(.2em, 2em, 400px, 1800px, 0.1em);
				line-height:1em;
        font-size:1.5em;

			}
	  }
		border-radius: 50%;
    content: "";
		// margin: 0.5em;
		margin-bottom:2em;
// @include flex-grid-column(9, 100em);

// width: 100%;
// padding-bottom: 100%;

}

.circle2 {
    // border: 5px solid #ff0000;
    // background-color: #00ff00;
    // width: 200px;
		width:100%;
    // overflow:hidden!important;



    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;


		@include breakpoint(small){
			height: 15em;
      width: 15em;
			max-width:20em;
			h2{
				font-size:3em;
			}
			h5 {
				// font-size:2em;
				// line-height:1em;
				// @include responsive-font-size(1em, 2em, 400px, 1200px, 0.1em);
        font-size:1.2em;

			}

	  }
		@include breakpoint(medium){
			height: 25em;
      width: 25em;

			h2{
				font-size:2.0em;
			}
			h5 {
        // @include responsive-font-size(.5em, 1.5em, 400px, 1800px, 0.1em);
				line-height:.9em;
        font-size:.9em;

			}
		}
		@include breakpoint(large){
			// height: 15em;
      // width: 15em;

      height: 25em;
      width: 25em;
      max-width:25em;

			h2{
				// font-size:4.0em;
				line-height:2em;
			}
      h5 {
        // @include responsive-font-size(.2em, 2em, 400px, 1800px, 0.1em);
				line-height:1em;
        font-size:1.5em;

			}
	  }
		border-radius: 50%;
    content: "";
		// margin: 0.5em;
		margin-bottom:2em;
// @include flex-grid-column(9, 100em);

// width: 100%;
// padding-bottom: 100%;

}




.circle.kitten {
	// background: url("../images/banner-background-citrus.svg") repeat scroll 0 0 / cover ;
  // background-image: url('../images/banner-background-citrus.svg');
  // background-size: cover;
  // background-repeat: none;
  // background-position: center center;
  color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}

.circle2.kitten {
	// background: url("../images/banner-background-citrus.svg") repeat scroll 0 0 / cover ;
  // background-image: url('../images/banner-background-citrus.svg');
  // background-size: cover;
  // background-repeat: none;
  // background-position: center center;
  color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}

.citrus {
	background: url("../images/banner-background-citrus.svg") repeat scroll 0 0 / cover ;
}
.purple2 {
	background: rgba(75,50,124,.8);
}
.purple {
	background: url("../images/banner-background-purple.svg") repeat scroll 0 0 / cover ;
}
.orange2 {
	background: rgba(167,90,50,.8);
	// background: url("../images/banner-background-orange.svg") repeat scroll 0 0 / cover ;
}
.orange {
	background: url("../images/banner-background-orange.svg") repeat scroll 0 0 / cover ;
}
.green{
	background: url("../images/banner-background-green.svg") repeat scroll 0 0 / cover ;
}
.gray{
	background: url("../images/banner-background-gray.svg") repeat scroll 0 0 / cover ;
}



.circle:hover {
  // background-color: $light-gray;
  // border-style: solid;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.aligner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
	flex-direction:column;
}


@mixin gradient($start-color, $end-color, $orientation)
 {
 background: $start-color;
 @if $orientation == vertical
 {
 // vertical
 background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
 background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
 }
 @else if $orientation == horizontal
 {
 // horizontal
 background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
 background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
 }
 @else
 {
 // radial
 background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
 background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
 background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
 }
 }
