.section-our-team {
.reveal-mobile {
width:100%!important;
}
.reveal-desktop {
width:80%!important;
}
	.item {
		background: $white;
		// height: 300px;
		position: relative;
		overflow: hidden;
		padding-bottom: 15px;
		transition: 0.3s all;
		margin-bottom: 30px;
		@include box-shadow();
		@include breakpoint(small only) {
			margin-bottom: 30px;
		}

		&:hover {
			transform: scale(1.02);
			@include box-shadow-hover();

			.read-more {
				background: $light-gray;
				border-radius: 4px 4px 4px 4px;
				-moz-border-radius: 4px 4px 4px 4px;
				-webkit-border-radius: 4px 4px 4px 4px;
				border: 0.005rem solid #e8e8e8;
				transition: 0.5s all !important;
			}
		}

		h5 {
			margin-top: 15px;
			font-size: 15px;
		}

		h6 {
			margin-top: 15px;
			font-size: 12px;
			color: $medium-gray;
		}
	}
}
