//////////////////////////////////////////////////////////////////
// DEV
//////////////////////////////////////////////////////////////////
// Browser Sync notification on inject/reload

.hero {
    @include breakpoint(medium) {
        height: 40vh;
    }
    @include breakpoint(small) {
        height: 40vh;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,$scg-purple,$scg-orange);
        opacity: 0.55;
        height: 40vh;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        @include breakpoint(medium) {
            height: 40vh;
        }
        @include breakpoint(small) {
            height: 40vh;
        }
    }

    .intro {
        position: relative;
        top: 89%;
        background-color: rgba($scg-purple, 0.75);
        @include box-shadow();

        h1 {
            color: #fff;
            font-size: 55px !important;
            font-weight: 300;
            text-align: center;
        }
    }

    p {

// check this code and delete if unused

        color: #fff;
        font-size: 25px !important;
        line-height: 1.75em;
        font-weight: 200;
        text-align: center;
        margin-bottom: 2rem;
    }

    .tech-img {
        // background: url('https://openclipart.org/image/2400px/svg_to_png/173167/UMN-Logo.png') no-repeat center center;
        background-size: contain;
        height: 9rem;
        width: 9rem;
        border-radius: 20%;
        display: block;
        margin: 0 auto;
        // @include box-shadow();
    }
    @media only screen and (min-width: 40.063em) {
        .tech-img {
            height: 22rem;
            width: 22rem;
        }

        h1 {
            // padding-top: 4.5rem;
            // text-align: right;
            font-size: 2.5rem;
        }

        p {
            // text-align: right;
        }
    }
}

.case-study-margin-bottom {

    margin-bottom: 3em !important;

}

.case-study-margin-top {

    margin-top: 3em !important;

}
.case-study-blockquote {
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #eeeeee;
    margin: 0 0 1rem;
    display: block;
    @include breakpoint(small only) {
        padding: 0;
        margin: 0;
    }

    p {
        line-height: 1.6;
        color: #9e9e9e;
        font-size: 25px;
    }
}

.section-case-study-single {
    margin: 0 !important;


    margin: 2rem 5rem 0;
    padding-top: 0;
    padding-bottom: 0;
    @include last-child() {
        // padding-bottom: 60px;
    }
    @include breakpoint(small only) {
        padding: 0;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }

@include breakpoint(medium) {
      padding-left: 4.0em !important;
      padding-right: 4em !important;
}

    p.blog-text {
        line-height: 1.5em!important;
        font-size: 22px;
    }

    img {
        // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.section-case-study-data {
    // background-color: $white;
    padding: 4em 0;
    margin-top: 30px;
}

.section-case-study {
    padding: 0; // adjusts space between sections
    @include breakpoint(small only) {
        padding: 15px 0;
    }

    h2 {
        // margin-bottom: 30px;
        color: $scg-green;
        @include breakpoint(small only) {
            margin-bottom: 30px;
        }
    }

    .dotted {
        border-style: dashed;
        border-bottom: 1px dotted #b6b6b6;
        width: 100%;
        margin-top: 20px !important;
    }
}

.section-page-header-case-study {

&.capability {
    @include breakpoint (small only) {
        height:8rem!important;
    }
}


    height: 5rem!important;
    @include breakpoint (small only) {
        height:12em!important;
    }
    padding: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    // box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    overflow: hidden;


    .page-header-billboard {
        height: 200px;
        position: relative;
        @include breakpoint(small only) {
            height: 20em;

        }

        .inner {
            padding: 0 45px;
            color: $white;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;

            h1 {
                font-size: 55px !important;
                text-shadow: 3px 3px 7px rgba($black, 0.62);
                margin-top: 60px;
                color: $white;
                @include breakpoint(small only) {
                    margin-top: 0;
                }
            }

            h2 {

              font-size:40px;
              margin-top:7px;

                text-shadow: 3px 3px 7px rgba($black, 0.62);
                // margin-top: 60px;
                color: $white;
                font-size: 40px!important;
                margin-top: 7px !important;
                @include breakpoint(small only) {
                    margin-top: 0;
                }
            }

            h3 {
                font-size: 15px;
            }

            p {
                font-size: 25px;
            }
        }

        .overlay {
            background: rgba($scg-purple, 1);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            transition: 0.5s all;
        }

        .overlay-black {
            // background: rgba($scg-purple, .5);
            // background: url(../images/Artboard1.png) no-repeat center center fixed;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            transition: 0.5s all;
        }
    }

    .integrated-marketing {
        .overlay {
            background: rgba($scg-purple, 1);
        }
    }
}

.cite {
    border-left: 5px dotted light-gray;
    padding: 10px 0 10px 30px;
    margin: 0 0 1rem -10px;

    p {
        font-style: italic;
        color: $dark-gray;
    }
}

.cite-left {
    border-left: 0 !important;
    border-right: 1px solid #cacaca !important;
    padding:10px 0 10px 30px 5px dotted light-gray !important;
    margin: 0 0 1rem -10px !important;

    p {
        font-style: italic;
        color: $dark-gray;
    }
}

.author-circle {
  border-radius: 50%!important; width:10%;
 	@include box-shadow();

}
