.section-videos {


  display: flex!important;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  height: auto!important;
  max-width: 2800px;
  width: 100%!important;
  padding:0;
  margin:0;
  background-color:rgb(70,40,100);

@include box-shadow2(3);

video {
  transition-timing-function: ease-in;
  transition: 0.3s;
  // width:100%;
  // height:100%;
  height:90vh;
@include breakpoint(large) {
  height:80vh;
}
@include breakpoint(medium) {
  height:80vh;
}
@include breakpoint(small) {
  height:60vh;
}
  }

.video-side-left{
  overflow: hidden!important;
}

.video-side-left:before,.video-side-right:before {
	display: block;
	content: '';
}

  .video-side-left, .video-side-right {
  flex: 1 1 50%;  // this sets the grow shrink and size of the video
  height: auto!important;
  overflow: hidden!important;
  position: relative;
  &:hover {
    cursor:hand!important;
}

@media (max-width: 480px) {
    flex: 1 1 100%!important;
}


	@include box-shadow-hover();
  @include box-shadow2(2);



.overlay-desc {
  display: flex;
  flex-flow: column nowrap !important;
        @include breakpoint(large) {

          justify-content:  flex-start!important;


        }
        @include breakpoint(medium) {

          justify-content:  flex-start!important;


        }
        @include breakpoint(small) {

          justify-content:  flex-start!important;


        }

  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  transition-timing-function: ease-in;
  transition: 0.3s;

  .video-headline{
      font-size:3vh;
      color:white;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);
      padding-top:1.5em;

        @include breakpoint(large) {
          font-size:15vh;
          line-height:8vh;
          margin-top:10vh;
        }

        @include breakpoint(medium) {
        font-size:5vh;
        line-height:8vh;
        margin-top:10vh;
        }

      @include breakpoint(small) {
        font-size:5vh;
        line-height:8vh;
        margin-top:6vh;
      }
  }


  .video-text {
      text-align:center;
      color:white;
      text-shadow: 0 1px 2px rgba(0,0,0,0.5);
      font-size:1.5vh!important;
      padding-left:1.5em;
      padding-right:1.5em;
      padding-top:1em;

		@include breakpoint(small only) {
      font-size:1.5vh!important;
      padding-left:3em;
      padding-right:3em;
      line-height:2.5;

		}
		@include breakpoint(medium only) {
      font-size:1.5vh!important;
      padding-left:3em;
      padding-right:3em;
      line-height:2.5;

		}
		@include breakpoint(large up) {
      font-size:2.25vh!important;
      padding-left:5.5vw;
      padding-right:5.5vw;
      line-height:2.5;
      max-width:100vw;

		}
@media screen and (min-width: 375px) and (max-width:667px) {
    font-size:2.2vh!important;
      line-height:2.5;

    }
  }


  h1, p { color: white;  }

&.left {
  background: rgba(167,90,50,0.8)!important;
&:hover {
    background: rgba(167,90,50,0.6)!important;
    flat-button { background-color: rgba(167,90,50,1) }
    cursor:hand!important;
  }
}
&.right {
  background: rgba(75,50,124,0.8)!important;
  // border-radius:70%;

  &:hover {
    background: rgba(75,50,124,0.6)!important;
    flat-button {background-color: rgba(75,50,124,1) }
    cursor:hand!important;
        }
      }
    }
  }
}


.section-clients {
	.column {
		display: flex;
		height: 150px;
		align-items: center;
		@include breakpoint(small only) {
			display: block;
			height: 60px;
		}

		img {
			width: 90%;
		}
	}
}

.section-get-started {
	.button {
		background: $scg-purple;
		@include box-shadow2(1);

		&:hover {
			@include box-shadow2(2);
			transform: scale(1.03);
      cursor:hand!important;

		}
	}
}
.colorbanner{
// height: 50%!important;padding-top:0;

}

.section-bottom-banner {
	@include breakpoint(small) {
		height: 400px!important;
		padding-top: 30px;
	}
}

.section-our-posts-header {
	@include breakpoint(small only) {
		height: 10em!important;
		padding-top: 5em;
		margin-bottom: 2.5em;
	}
}
