//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////

$scg-purple:	#4B327C;
// rgb(75,50,124)

$scg-orange:	#A75A32;
// rgb(167,90,50)

$scg-green:		#2F6653;
// rgb(47,102,83)

$scg-citrus:	#C0BB4C;
// rgb(192,187,76)

.purple { color: $scg-purple }
.orange { color: $scg-orange }
.green 	{ color: $scg-green }
.citrus { color: $scg-citrus }
