
     <a href="/our-philosophy">
      <video src="/wp-content/themes/scg-wp-vanilla/videos/timelapse.mp4">
       <source type="video/mp4">
      </video>
     <div class="overlay-desc left">
        <span class="video-headline">Unmatched B2B Research and Branding</span>
        <span class="video-text">At Strother Communications Group, we have a passion for helping businesses grow. From digital marketing and website development to social media and public relations, we are ready to handle every aspect of your communications needs.</span>
    </div>
  </a>
