  <a href="/our-work">
      <video poster="/wp-content/themes/scg-wp-vanilla/images/hero-right.jpg"></video>
     <div class="overlay-desc right">
        <span class="video-headline">Seamless Execution and Measurable Results</span>
        <span class="video-text">We don’t measure success in vague buzzwords like “brand awareness” or “storytelling.” We create marketing and communications plans that help businesses grow. Once we’ve developed the message and plan that’s right for your company, you’ll see the results.</span>
    </div>
</a>
