
flat-button {
@include button;
  margin: 0;
  background: none;
  font-weight: bold;

  &:hover {
    background: $light-gray;
    border-radius: 15px 0 15px 0;
  }

  &.read-more {
    color: $scg-purple;
  }

  &.share {
    color: $scg-orange;
  }
}

button-view-more {

  margin-top: 30px !important;
  @include button;
  @include box-shadow2(1);

  &:hover {
    @include box-shadow2(5);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
