#__bs_notify__ {
	top: 95% !important;
	right: 10px !important;
	border-radius: 15px !important;
	height: 50px !important;
	opacity: 0.25;
}
/* Foundation overrides */
.off-canvas {
	height: 100%;

	ul {
		margin: 0;
		list-style: none;
	}

	li {
		border-bottom: 1px solid $white;
	}

	a {
		display: block;
		padding: 15px;
		color: $white;
	}
}

.header-fix {
	height: 103px;
	transition: 0.4s all;

	&.active {
		height: 78px;
		transition: none;
	}
}

.header {
	width: 100%;
	padding: 15px 0;
	background: $white;
	position: fixed;
	top: 0;
	box-shadow: rgba(0, 0, 0, 0.239216) 0 1px 2px;
	z-index: 999;

	&.active {
		background-color: rgba(255, 255, 255, 0.93);

		#logo-scg {
			margin-top: 5px;
		}

		.row {
			max-width: rem-calc(850);
		}

		nav {
			a {
				padding: 8px;
				font-size: 14px;
			}
		}
	}

	.row {
		max-width: rem-calc(1200);
		transition: 0.3s all;
	}

	nav {
		margin-top: 6px;

		ul {
			margin: 0;
		}

		li {
			display: inline-block;
		}

		a {
			display: block;
			padding: 10px 15px;
			font-size: 25px;
			color: $dark-gray;
			transition: 0.3s all;

			&:hover {
				background-color: rgba($light-gray,0.7);
				border-radius: 15px 0 15px 0;
			}
		}
	}
}

.footer {
	width: 100%;
	padding: 45px;
	background: $black;
	color: $white;

	p {
		font-size: 28px;
	}

	.logo {
		width: 100px;
		margin-top: 30px;
	}
}

.section {
	padding: 60px 0;

	h2 {
		margin-bottom: 30px;
		color: $scg-green;
	}
	.dotted {
		border-style: dashed;
		border-bottom: 1px dotted $scg-green;
		width:100%;
	}
}


.section-page-header {
	padding: 0;
	overflow: hidden;

	.page-header-billboard {
		height: 200px;
		position: relative;
		.inner {
			padding: 0 45px;
			color: $white;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;
			h2 {
				margin-top: 60px;
				color: $white;
				@include breakpoint(small only) {
					margin-top: 30px;
				}
			}
			p {
				font-size: 25px;
			}
		}
		.overlay {
			background: rgba($scg-purple, 1);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			transition: 0.5s all;
		}
	}

	.integrated-marketing {
		.overlay {
			background: rgba($scg-purple, 1);
		}
	}
}
