/* Mixins */
@mixin box-shadow() {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
@mixin box-shadow-hover() {
	box-shadow: 0 3px 14px 0 rgba(0,0,0,0.3);
}
@mixin material-button() {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@mixin material-button-hover() {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@mixin box-shadow2 ($level) {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	 @if $level == 1{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	@else if $level == 2 {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	@else if $level == 3 {
		// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	}
	@else if $level == 4 {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	@else if $level == 5 {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
}
@mixin box-shadow-video {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
@mixin box-shadow-video-hover() {
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
@mixin last-child() {
  &:last-of-type {
    @content
  }
}
@mixin video-card($width, $height, $level) {
	width: $width;
	height: $height;
	@if $level == 1 {
		box-shadow: 0 3px 9px rgba(0,0,0,.3),0 5px 15px rgba(0,0,0,0.2);
		transform: scale(1.05);
	}
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #526472;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	margin: 20px;
	display: inline-block;
	transform: scale(1);
	transition: 0.3s all !important;

	&.h2 {
		position: absolute;
		text-align: left;
		bottom: 0;
		margin: 0;
		padding: 20px;
		width: 100%;
		box-sizing: border-box;
		font-weight: 100;
		font-size: 1em;
		color: #fff;
		background: rgba(0,0,0,0);
		background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	}
}
