
.section-home-videos {
	padding: 0;
	overflow: hidden;

	.integrated-marketing,
	.unmatched-results {
		height: 800px;
		position: relative;

		.inner {
			padding: 0 45px;
			color: $white;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;

			h2 {
				margin-top: 105px;
				color: $white;
				@include breakpoint(small only) {
					margin-top: 30px;
				}
			}

			p {
				font-size: 25px;
			}
		}

		video {
			display: block;
			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.overlay {
			background: rgba($scg-orange, .7);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			transition: 0.5s all;
		}

		.button {
			margin-top: 20px;
		}
	}

	.integrated-marketing {
		&:hover {
			.overlay {
				background: rgba($scg-orange, .4);
			}
		}

		.overlay {
			background: rgba($scg-orange, .8);
		}

		.button {
			background: $scg-orange;
			@include box-shadow2(1);
			&:hover {
				@include box-shadow2(3);
			}
		}
	}

	.unmatched-results {
		&:hover {
			.overlay {
				background: rgba($scg-purple, .4);
			}
		}

		.overlay {
			background: rgba($scg-purple, .8);
		}

		.button {
			background: $scg-purple;
			@include box-shadow2(1);
			&:hover {
				@include box-shadow2(3);
			}
		}
	}
}

.section-our-work {
	.item {
		height: 400px;
		transition: 0.3s all;
		@include box-shadow();
		@include breakpoint(small only) {
			height: auto;
			margin-bottom: 30px;
			padding-bottom: 15px;
		}

		&:hover {
			transform: scale(1.05);
			@include box-shadow-hover();
		}

		h3 {
			margin-top: 30px;
			padding: 0 15px;
			font-size: 20px;
			@include breakpoint(small only) {
				margin: 15px 0;
			}
		}
	}
}

.section-clients {
	.column {
		display: flex;
		height: 150px;
		align-items: center;
		@include breakpoint(small only) {
			display: block;
		}

		img {
			width: 90%;
		}
	}
}

.section-posts {
	.item {
		padding-bottom: 15px;
		transition: 0.3s all;
		margin-bottom: 30px;
		@include box-shadow();
		@include breakpoint(small only) {
			margin-bottom: 30px;
		}

		&:hover {
			transform: scale(1.05);
			@include box-shadow-hover();
		}

		h5 {
			margin-top: 15px;
			font-size: 15px;
		}

		h6 {
			margin-top: 15px;
			font-size: 12px;
			color: $medium-gray;
		}

	}
}

.section-get-started {
	.button {
		background: $scg-purple;
		@include box-shadow2(1);
		&:hover {
			@include box-shadow2(3);
		}
	}
}
