//////////////////////////////////////////////////////////////////
// DEV
//////////////////////////////////////////////////////////////////
// Browser Sync notification on inject/reload

case-study-blockquote {
padding: 0.5625rem 1.25rem 0 1.1875rem;
border-left: 1px solid #eeeeee;
margin: 0 0 1rem;
display: block;
p {
	line-height: 1.6;
	color: #9e9e9e;
	font-size: 25px;
}
}

.section-case-study-single  {

	margin-top: 0;

@include breakpoint(small only) {
		margin-left: .4rem!important;
		margin-right: .4rem!important;
}
@include breakpoint(medium) {
		margin-left: 5rem;
		margin-right: 5rem;
}


	padding-top: 0;
	padding-bottom: 0;
	@include last-child()
  {
		padding-bottom: 60px;
	}
	p.blog-text {
		line-height:2.0em;
	}
}

.section-case-study-data  {

	background-color: $scg-orange;
	padding: 4em 0 4em 0;
	margin-top: 30px;

}
