

.section-our-team {
  h3 {
    margin-top: 8em;
    background-color: white;
    opacity: 0.5;
  }
  .cardX {
    @include video-card(250px, 300px, 1);
  }

  #birdman {
    background-image: url("../images/aboutus_jason.jpg");
  }

  #interstellar {
    background-image: url("../images/aboutus_brian.jpg");
  }

  #imitation {
    background-image: url("../images/aboutus_dana.jpg");
  }

  #birdman2 {
    background-image: url("../images/aboutus_jason2.jpg");
  }

  #interstellar2 {
    background-image: url("../images/aboutus_jane.jpg");
  }

  #imitation2 {
    background-image: url("../images/aboutus_jason3.jpg");
  }

  #birdman3 {
    background-image: url("../images/aboutus_jeron.jpg");
  }

  #interstellar3 {
    background-image: url("../images/aboutus_jasonstill.png");
  }

  #imitation3 {
    background-image: url("../images/aboutus_brianstill.png");
  }
}
