//////////////////////////////////////////////////////////////////
// BRAND COLORS
//////////////////////////////////////////////////////////////////

$scg-purple:	#4B327C;
$scg-orange:	#A75A32;
$scg-green:		#2F6653;
$scg-citrus:	#C0BB4C;

.purple { color: $scg-purple }
.orange { color: $scg-orange }
.green 	{ color: $scg-green }
.citrus { color: $scg-citrus }
